Repository NagyGeorge/nu-pywal: changes, and which pre-commit hooks are due for each by the changed paths.
All: pywal-version-consistency, template-syntax-check

pywal-version-consistency:
  name: Check version consistency
  entry: python
  language: system
  args:
  - -c
  - 'import re
  
    setup_content = open(''setup.py'').read()
  
    pyproject_content = open(''pyproject.toml'').read()
  
    print(''✅ Version files syntax check passed'')
  
    '

template-syntax-check:
  name: Check template syntax
  entry: python
  language: system
  args:
  - -c
  - 'import os, re
  
    templates = [f for f in os.listdir(''pywal/templates'') if not f.startswith(''.'')]
  
    total_templates = len(templates)
  
    print(f''✅ Template syntax check: {total_templates} templates found'')
  
    '
  ...

Clean up CI/CD pipeline for baseline push
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Fix ruff formatting issues
  pywal/__main__.py
  pywal/reload.py
  pywal/util.py
Due: none

Reduce CI test matrix from 10 to 5 jobs
  .github/workflows/ci.yml
Due: none

Fix VSCode template syntax and exclude from JSON linting
  .pre-commit-config.yaml
  pywal/templates/colors-vscode.json
Due: template-syntax-check

Update GitHub Actions to latest versions
  .github/workflows/ci.yml
Due: none

Prepare v0.9.0-nu release
  .github/workflows/release.yml
  CHANGELOG.md
  pywal/settings.py
Due: none

Fix version to PEP 440 compliance
  CHANGELOG.md
  pywal/settings.py
Due: none

Exclude documentation files from pre-commit formatting
  .pre-commit-config.yaml
  INSTALLATION.md
  README.md
Due: none

Phase 1: Enable quality tools and gradual typing
  .bandit
  .github/workflows/ci.yml
  .github/workflows/docs-check.yml
  .pre-commit-config.yaml
  INSTALLATION.md
  pyproject.toml
  pywal/backends/schemer2.py
  pywal/backends/wal.py
  pywal/colors.py
  pywal/reload.py
  pywal/scripts/gtk_reload.py
  pywal/settings.py
  pywal/util.py
  pywal/wallpaper.py
  uv.lock
Due: pywal-version-consistency

Fix disown function to properly raise exceptions for missing commands
  pywal/util.py
Due: none

Remove obsolete configuration files
  .pylintrc
  .travis.yml
  setup.py
Due: pywal-version-consistency

Update .gitignore to exclude cache directories and build artifacts
  .gitignore
Due: none

Fix pre-commit hook after removing setup.py
  .pre-commit-config.yaml
  MANIFEST.in
  pyproject.toml
Due: pywal-version-consistency

Prepare for PyPI publication as nu-pywal
  pyproject.toml
Due: pywal-version-consistency

Enable PyPI publishing in release workflow
  .github/workflows/release.yml
Due: none

Release 0.9.1 - PyPI Publication Ready
  CHANGELOG.md
  pywal/settings.py
Due: none

Add PyPI badge and AUR PKGBUILD
  .gitignore
  PKGBUILD
  README.md
Due: none

Fix license format for Python 3.8 compatibility
  pyproject.toml
Due: pywal-version-consistency

Add explicit permissions to CI workflow
  .github/workflows/ci.yml
Due: none

Add explicit permissions to docs workflow
  .github/workflows/docs-check.yml
Due: none

Improve error handling for backend-only commands
  pywal/__main__.py
Due: none

Fix code formatting
  pywal/__main__.py
Due: none

Update README.md
  README.md
Due: none

Add Waybar support for automatic color scheme integration
  INSTALLATION.md
  pywal/reload.py
Due: none

Add Ghostty terminal template and update dependencies
  pywal/templates/colors-ghostty
  uv.lock
Due: template-syntax-check

Improve directory handling in save functions
  pywal/util.py
  tests/test_util.py
Due: none

Implement Phase 1: Code quality and type safety improvements
  .pre-commit-config.yaml
  pyproject.toml
  pywal/__main__.py
  pywal/colors.py
  pywal/export.py
  pywal/image.py
  tests/test_backends.py
Due: pywal-version-consistency

Implement Phase 2 enhancements: configuration management, parallel processing, and advanced caching
  .gitignore
  pywal/__main__.py
  pywal/cache.py
  pywal/colors.py
  pywal/config.py
  pywal/parallel.py
  tests/test_cache.py
  tests/test_config.py
  tests/test_parallel.py
  uv.lock
Due: none

Add configuration management, parallel processing, and advanced caching (#2)
  .gitignore
  .pre-commit-config.yaml
  INSTALLATION.md
  pyproject.toml
  pywal/__main__.py
  pywal/cache.py
  pywal/colors.py
  pywal/config.py
  pywal/export.py
  pywal/image.py
  pywal/parallel.py
  pywal/reload.py
  pywal/templates/colors-ghostty
  pywal/util.py
  tests/test_backends.py
  tests/test_cache.py
  tests/test_config.py
  tests/test_parallel.py
  tests/test_util.py
  uv.lock
Due: pywal-version-consistency, template-syntax-check

Fix ruff formatting issues
  pywal/cache.py
  pywal/parallel.py
  tests/test_parallel.py
Due: none

Fix import sorting and partially fix CLI output issues
  pyproject.toml
  pywal/cache.py
  pywal/config.py
  tests/test_cache.py
  uv.lock
Due: pywal-version-consistency

Fix remaining test failures and CLI output issues
  pywal/cache.py
  tests/test_config.py
Due: none

Path conditions:
  pywal-version-consistency: any of: ^(setup\.py|pyproject\.toml)$
  template-syntax-check: any of: ^pywal/templates/
